body {
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  margin: 0px;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav span a {
  color: black;
}

footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: 0px;
  height: 200px;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 1232px;
  margin: 0px auto 40px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.narrative {
  font-family: Georgia;
  font-size: 15px;
  color: black;
  margin-top: 16px;
}



#tuna {

}

#fish_caption {
  display: flex;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  margin-top: 0px;
  text-align: left;
  border: 1px solid black;
}

#fish_caption span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

#orca {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#fall {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#burger {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#camera {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#fbi {

}

#cat {

}

#cat_caption {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

#cookie {
  display: block;
}

#cookie h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
}

#cookie span{
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#foot_container {
  display: block;
}

#foot_line1 {
  display: inline-flex;
  align-items: center;
}

#foot_name span{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 22px;
}

#foot_nav a{
  color: black;
  padding-right: 22px;
}

#foot_line2 {
  text-align: center;
}
